.pros-section{
    background-color: rgba(20,22,23,1);
}

#pros-carousel{

    margin: 0 auto;
    max-width: 1400px;
    padding-top: 160px;
    padding-bottom: 80px;
}

.carousel-inner{
    border-radius: 15px;
}